@using QA.Engine.Administration.Services.Core.Models

@{
    var model = (List<SiteTreeModel>)ViewData["model"];
    var userId = ViewData["userId"];
}

<h5>UserId: @(userId)</h5>

<h5>Site structure:</h5>
<ul>
    @foreach (var item in model)
    {
        <li>
            [@item.Id] @item.Alias (@item.Title) order->@item.IndexOrder
            <p>@Html.Raw(RenderItems(item.Children))</p>
        </li>
    }
</ul>

<p>
    <a id="publish" href="#">publish</a>
</p>
<p>
    <a id="reorder" href="#">reorder</a>
</p>
<p>
    <a id="move" href="#">move</a>
</p>

@functions {
public string RenderItems(List<SiteTreeModel> models)
{
    if (!models.Any())
        return "";
    var li = "";
    foreach (var item in models)
    {
        li += item.Children.Any()
            ? $"<li>[{item.Id}] {item.Alias} ({item.Title}) order->{item.IndexOrder}<p>{RenderItems(item.Children)}</p></li>"
            : $"<li>[{item.Id}] {item.Alias} ({item.Title}) order->{item.IndexOrder}</li>";
    }
    var result = string.Format("<ul>{0}</ul>", li);
    return result;
}
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#publish').click(function (e) {
            e.preventDefault();
            ajaxRequest('/api/sitemap/publish', [741184, 741186, 741188]);
        });

        $('#reorder').click(function (e) {
            e.preventDefault();
            ajaxRequest('/api/sitemap/reorder', {
                itemId: 741188,
                relatedItemId: 741184,
                isInsertBefore: true
            });
        });

        $('#move').click(function (e) {
            e.preventDefault();
            ajaxRequest('/api/sitemap/move', {
                itemId: 741182,
                newParentId: 741114
            });
        });
    });
    //(function () {
    //    var path = '/api/sitemap/publish' + location.search + '&itemids=741180';
    //    el = document.getElementById('publish');
    //    el.href = path;
    //})();

    function getHeaderData() {
        getQueryVariable = function (variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
        };

        return {
            BackendSid: getQueryVariable('backend_sid'),
            CustomerCode: getQueryVariable('customerCode'),
            HostId: getQueryVariable('hostUID'),
            SiteId: getQueryVariable('site_id')
        };
    }

    function ajaxRequest(path, model) {
        $.ajax(path, {
            method: 'POST',
            data: JSON.stringify(model),
            contentType: 'application/json',
            beforeSend: function (request) {
                request.setRequestHeader('Qp-Site-Params', JSON.stringify(getHeaderData()));
            },
            success: function (result) {
                console.log(path, result)
            }
        });
    }
</script>